

.weather {
// position: absolute;
width: 395px;
height: 675px;
left: 869px;
top: 232px;
padding: 40px 53px 60px 53px;
background: #4440F7;
mix-blend-mode: normal;
border-radius: 4px;
}

.weather_button {
  position: absolute;
width: 177px;
height: 42px;
left: 109px;
top: 573px;
padding: 10px 12px;

background: rgba(254, 254, 255, 0.3);
border-radius: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}

.weather_date {
  position: absolute;
width: 199px;
height: 84px;
left: 90px;
top: 461px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}



.weather_status {
  // position: absolute;
width: 99px;
height: 42px;
left: 119px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #FFFFFF
}
.weather_city {
  // position: absolute;
width: 177px;
height: 42px;
left: 112px;
top: 42px;

background: rgba(254, 254, 255, 0.3);
border-radius: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;

}

.weather_temp {
  // position: absolute;
width: 96px;
height: 75px;
left: 0px;
top: 5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 75px;


color: #FFFFFF;
}

.weather_icon {
  position: absolute;
width: 165px;
height: 156px;
left: 115px;
top: 215px;

mix-blend-mode: normal;
}

.weather_header {
  display: flex;
}